---
interface PostCard {
  title: string;
  slug: string;
  description: string;
  thumbnail: string;
  thumbnailDescription: string;
  tags: string[];
  date: string;
  shadowColor: string;
}

interface Props {
  post: PostCard;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.slug}`}
  class={`card bg-neutral h:96 sm:h-76 w-80 sm:w-110 shadow-sm hover:bg-neutral-900 hover:shadow-${post.shadowColor} transition hover:scale-105 duration-500 flex flex-col`}
>
  <div class="flex-grow">
    <div class="flex h-full">
      <div class="w-36 flex-shrink-0">
        <figure class="w-36 h-36 bg-amber-100 rounded-tl-lg">
          <img
            src={post.thumbnail}
            alt={post.thumbnailDescription}
            class="h-full w-full object-contain"
          />
        </figure>
      </div>
      <div class="card-body">
        <div class="flex flex-col items-center gap-2">
          <h2 class="card-title m-0">
            {post.title}
          </h2>
          <p class="text-xs">{post.date}</p>
        </div>
        <p>{post.description}</p>
      </div>
    </div>
  </div>
  <div class="p-4 border-t border-amber-100">
    <div class="card-actions justify-start">
      {post.tags.map((tag) => (
        <div class="badge bg-amber-100 text-amber-900">{tag}</div>
      ))}
    </div>
  </div>
</a>
